.footer {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copy {
  font-size: 14px;
}

.footerLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinks li {
  margin-left: 20px;
}

.footerLinks a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s;
}

.footerLinks a:hover {
  color: #000e38; 
}


@media (max-width: 650px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerLinks {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .footerLinks li {
    margin-left: 0;
  }
}
